.searchBox{
    display: flex;
    text-align: start;
    flex-direction: column;
    width: 250px;
}

.input{
    margin-top: 0;
    width: 250px;
    height: 25px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #ccc;
    color: black;
}